body {
  font: 1.2em calibri;
  color: #444;
}

table {
  border-spacing: 0;
}

td,th {
  text-align: center;
}

td:nth-child(n+2), th:nth-child(n+2) {
  border-right: 1px solid #ccc;
}

td:last-child, th:last-child {
  border-right: none;
}

th {
  padding: .5em;
  text-decoration: none;
  font-weight: normal;
}

td button, th button {
  padding: 1em 1.4em;
  background-color: inherit;
  border-radius: 0;
  border: none;
  font-size: .8em;
}

.selected {
  border: 1px solid #ccc;
  border-radius: 4px;
}