body {
  padding-top: 2em;
}

.stack_item.selected {
  border-color: #ffa600;
}

#container {
  width: 49%;
  margin: 0 auto;
  border: solid 1px #ccc;
  position: relative;
  min-height: 5em; 
}

#addBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: .4em;
}

.stack_item {
  height: 2em;
  width: 75%;
  border:1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  background-color: #fafafa;
}